SPRING_PROFILES_ACTIVE=prod
CONFIG_SERVER_URL=http://config-server:7071
EUREKA_SERVER_URL=http://registry-server:7081/eureka/

USUARIO_MYSQL_ROOT_PASSWORD=root
USUARIO_MYSQL_DATABASE=db_nevoa_usuario
USUARIO_DB_HOST=mysql-usuario
USUARIO_DB_PORT=3306
USUARIO_DB_NAME=db_nevoa_usuario
USUARIO_DB_USERNAME=root
USUARIO_DB_PASSWORD=root

TAREA_MYSQL_ROOT_PASSWORD=root
TAREA_MYSQL_DATABASE=db_nevoa_tarea
TAREA_DB_HOST=mysql-tarea
TAREA_DB_PORT=3306
TAREA_DB_NAME=db_nevoa_tarea
TAREA_DB_USERNAME=root
TAREA_DB_PASSWORD=root

PROYECTO_MYSQL_ROOT_PASSWORD=root
PROYECTO_MYSQL_DATABASE=db_nevoa_proyecto
PROYECTO_DB_HOST=mysql-proyecto
PROYECTO_DB_PORT=3306
PROYECTO_DB_NAME=db_nevoa_proyecto
PROYECTO_DB_USERNAME=root
PROYECTO_DB_PASSWORD=root

NOTA_MYSQL_ROOT_PASSWORD=root
NOTA_MYSQL_DATABASE=db_nevoa_nota
NOTA_DB_HOST=mysql-nota
NOTA_DB_PORT=3306
NOTA_DB_NAME=db_nevoa_nota
NOTA_DB_USERNAME=root
NOTA_DB_PASSWORD=root

META_MYSQL_ROOT_PASSWORD=root
META_MYSQL_DATABASE=db_nevoa_meta
META_DB_HOST=mysql-meta
META_DB_PORT=3306
META_DB_NAME=db_nevoa_meta
META_DB_USERNAME=root
META_DB_PASSWORD=root

HABITO_MYSQL_ROOT_PASSWORD=root
HABITO_MYSQL_DATABASE=db_nevoa_habito
HABITO_DB_HOST=mysql-habito
HABITO_DB_PORT=3306
HABITO_DB_NAME=db_nevoa_habito
HABITO_DB_USERNAME=root
HABITO_DB_PASSWORD=root

POMODORO_MYSQL_ROOT_PASSWORD=root
POMODORO_MYSQL_DATABASE=db_nevoa_pomodoro
POMODORO_DB_HOST=mysql-pomodoro
POMODORO_DB_PORT=3306
POMODORO_DB_NAME=db_nevoa_pomodoro
POMODORO_DB_USERNAME=root
POMODORO_DB_PASSWORD=root
